@media screen and (min-width: 750px) {
  html {
    font-size: 62.5px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 100px;
  }
}
.type_area {
  width: 12rem;
  margin: auto;
}
#main_nav {
  height: 1rem;
}
#main_nav #logo {
  width: 1rem;
  height: 0.33rem;
  background: url('../images/logo.png') no-repeat;
  float: left;
  margin: 0.33rem 0;
}
#main_nav nav {
  width: 6rem;
  height: 1rem;
  float: right;
}
#main_nav nav ul {
  width: 6rem;
  height: 1rem;
  line-height: 1rem;
}
#main_nav nav ul li {
  height: 1rem;
  display: inline-block;
}
#main_nav nav ul li a {
  color: #333;
  font-size: 0.17rem;
  font-weight: 600;
  padding-right: 0.2rem;
  display: table-cell;
  vertical-align: middle;
}
#main_nav nav ul li a:hover {
  color: #43b14b;
}
#section1 {
  width: 100%;
  height: 8rem;
  background: url(../images/sec_bg.jpg) no-repeat;
  border: 1px solid #fff;
}
#section1 h3 {
  height: 1rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
  margin: 0.5rem 0;
}
#section1 div {
  width: 8.7rem;
  height: 4rem;
  margin: 1rem auto;
}
#section1 div img {
  width: 8.7rem;
  height: 4rem;
}
.section {
  border: 1px solid #fff;
}
.section .section_title {
  margin-top: 0.7rem;
}
.section .section_title h3 {
  font-size: 0.36rem;
  text-align: center;
  color: #002e5b;
}
.section .section_title h3 span {
  color: #43b14b;
}
.section .section_title p {
  font-size: 0.16rem;
  color: #333;
  text-align: center;
  margin-top: 0.05rem;
}
#section2 {
  height: 11rem;
}
#serve_show {
  margin-top: 0.7rem;
}
#serve_show .show {
  width: 3.7rem;
  height: 3.7rem;
  border: 1px solid #bbb;
  float: left;
  margin: 0.1rem;
}
#serve_show .show div {
  height: 1rem;
  text-align: center;
}
.show_img {
  width: 100%;
  margin-top: 0.7rem;
}
.show_explain {
  width: 100%;
  margin-top: 0.55rem;
}
.show_explain h4 {
  font-size: 0.3rem;
}
.show_explain h4 a {
  color: #002e5b;
}
.show_explain h4 a:hover {
  color: #43b14b;
}
.show_explain p {
  width: 2.66rem;
  font-size: 0.14rem;
  color: #bbb;
  margin: 0.1rem auto;
}
#section3 {
  width: 100%;
  height: 10rem;
  background: #f4f7fc;
}
#section3 #theme_nav {
  height: 0.4rem;
  margin-top: 0.2rem;
}
#section3 #theme_nav ul {
  width: 2.5rem;
  height: 0.4rem;
  margin: auto;
}
#section3 #theme_nav ul li {
  width: 0.6rem;
  height: 0.4rem;
  font-size: 0.16rem;
  color: #333;
  text-align: center;
  line-height: 0.4rem;
  background-color: #fff;
  float: left;
  margin: 0 0.1rem;
}
#section3 #my_theme_show {
  margin-top: 0.8rem;
}
#section3 #my_theme_show .theme_show {
  width: 3rem;
  height: 3.3rem;
  float: left;
  padding-bottom: 0.3rem;
}
#section3 #my_theme_show .theme_show .theme_img {
  height: 2.05rem;
  text-align: center;
}
#section3 #my_theme_show .theme_show .theme_img img {
  width: 2.05rem;
}
#section3 #my_theme_show .theme_show h4 {
  font-size: 0.2rem;
  color: #002e5b;
  text-align: center;
  margin-top: 0.3rem;
}
#section4 {
  width: 100%;
  height: 6rem;
}
#section4 .explain {
  width: 33.33%;
  height: 6rem;
  float: left;
  color: #fff;
}
#section4 .explain h1 {
  width: 3.1rem;
  font-size: 0.6rem;
  text-align: center;
  margin: 1rem auto 0;
}
#section4 .explain p {
  width: 3.1rem;
  font-size: 0.16rem;
  text-align: center;
  margin: 0.8rem auto;
}
#section4 .explain div {
  font-size: 0.2rem;
  width: 1.6rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  border: 0.05rem solid #fff;
  border-radius: 0.25rem;
  margin: auto;
}
#section4 #explain1 {
  background: url(../images/sec4.1.jpg) no-repeat;
}
#section4 #explain2 {
  background: url(../images/sec4.2.jpg) no-repeat;
}
#section4 #explain3 {
  background: url(../images/sec4.3.jpg) no-repeat;
}
#section5 {
  width: 100%;
  height: 10rem;
  background-color: #bbb;
}
#blogs {
  text-align: center;
  margin-top: 1rem;
  color: #002e5b;
}
#blogs #new_post h3 {
  font-size: 0.4rem;
  font-weight: 600;
}
#post {
  width: 100%;
  height: 6.4rem;
}
#post .post {
  width: 33.333%;
  height: 6.4rem;
  float: left;
  box-sizing: border-box;
  padding: 1rem;
}
#post .post h3 {
  font-size: 0.4rem;
  font-weight: 400;
}
#post .post p {
  font-size: 0.16rem;
  color: #333;
  margin-top: 0.5rem;
}
#post .post div {
  font-size: 0.2rem;
  width: 1.6rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  color: #002e5b;
  border: 0.05rem solid #002e5b;
  border-radius: 0.25rem;
  margin: 0.5rem auto 0;
}
#go_blogs {
  font-size: 0.2rem;
  width: 1.6rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  color: #fff;
  background-color: #43b14b;
  border-radius: 0.25rem;
  margin: 0.6rem auto 0;
}
#section6 {
  width: 100%;
  height: 7rem;
  color: #333;
}
#section6 #contact {
  width: 5rem;
  height: 6rem;
  font-size: 0.2rem;
  text-align: left;
  margin: 1rem auto 0;
}
#section6 #contact h3 {
  color: #002e5b;
  font-size: 0.4rem;
  text-align: center;
}
#section6 #contact h3 span {
  color: #43b14b;
}
#contact div {
  height: 0.4rem;
  margin: 0.3rem auto;
}
#contact div lable {
  width: 0.48rem;
  height: 0.38rem;
  font-weight: 200;
}
#contact div input {
  width: 3.5rem;
  height: 0.38rem;
  font-size: 0.18rem;
  font-weight: 200;
}
#contact #leave_word {
  height: 1rem;
}
#contact #leave_word lable {
  padding-bottom: 0.6rem;
  box-sizing: border-box;
}
#contact #leave_word input {
  height: 1rem;
}
#contact button {
  width: 1.5rem;
  height: 0.4rem;
  font-size: 0.25rem;
  color: #fff;
  background-color: #43b14b;
  border: 0px;
  margin: 0.2rem 1.75rem;
}
#top {
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.4rem;
  color: #fff;
  background-color: #43b14b;
  border-radius: 50%;
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
}
